/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/* make sure to set some focus styles for accessibility */
:focus {
	outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body,
html {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	position: relative;
	line-height: 1;
	background-color: #000000;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-sizing: content-box;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

audio,
canvas,
video {
	display: inline-block;
	max-width: 100%;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
	cursor: pointer;
}

header nav a:hover,
footer nav a:hover {
	color: #fff;
	text-decoration: none;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}

figure {
	margin: 0;
}

form {
	margin: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	appearance: text-field;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

html,
button,
input,
select,
textarea {
	color: #222;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

i {
	font-style: italic;
}

/* roboto-300 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/roboto-v48-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/roboto-v48-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/roboto-v48-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/roboto-v48-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/roboto-v48-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-800 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/roboto-v48-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/roboto-v48-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
	margin: 0;
	padding: 0;

	border: 0;
}

/* Styles for layout
-----------------------------------------------------------------------------*/

.clear {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* Set up the document
-----------------------------------------------------------------------------*/

main {
	font-family: "Roboto", "Lucida Sans", Tahoma, Verdana, sans-serif;
	font-style: normal;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-weight: normal;
	background: #fff;
	color: #000;
	text-align: left;
}

section-title h1 {
	font: 2em "Roboto", "Lucida Sans", Tahoma, Verdana, sans-serif;
	text-shadow: 0 1px 1px #fff;
	margin: 0;
	font-weight: 900;
	letter-spacing: 4px;
	color: #070707;
	text-align: left;
}

#wrapper {
	width: 1100px; /* Set page width here - you can also use percentage */
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}

/* Typography
-----------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #ffffff;
	margin-bottom: 25px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

h1 {
	font-size: 2.2em;
}

h2 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.7em;
}

h3 {
	font-size: 1.8em; /* Equivalent to 18pt */
}

h4 {
	font-size: 1.6em; /* Equivalent to 18pt */
}

h5 {
	font-size: 1.4em; /* Equivalent to 14pt */
}

p,
q,
cite {
	/* font-size: 1.1em; Equivalent to 12pt */
	/* letter-spacing: 0.6px; */
	margin-bottom: 35px;

	font: "Roboto", "Lucida Sans", Tahoma, Verdana, sans-serif;
	color: #ffffff;

	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
}

strong {
	font-weight: 700;
}

ul,
ol,
dl {
	list-style: none;
}

li,
dd,
dt {
	font-size: 1.1em; /* Equivalent to 12pt */
	line-height: 1.6em;
}

input.text {
	padding: 3px;
	border: 1px solid #999999;
}

/* Tables
-----------------------------------------------------------------------------*/

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td {
	text-align: left;
	font-weight: normal;
}

header {
	pointer-events: none;
	z-index: 3;
	padding: 2em 0;
	width: 100%;
	position: fixed;
	box-sizing: border-box;
	-webkit-transition: background-color 300ms linear;
	-ms-transition: background-color 300ms linear;
	transition: background-color 300ms linear;
}

header row {
	padding: 0 8em;
}

/* .about-page header, .books-page header, .speaking-page header, .consulting-page header, .podcast-page header {
  background: #000!important;
} */

header-spacer {
	padding: 2.2em;
}

#hero {
	background-image: url(../images/hero-bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

section0,
section1,
section2,
section3,
section4,
section5,
section6,
section7,
section8 {
	display: flex;
	flex-direction: row;
	height: auto;
}

row {
	display: flex;
	max-width: 100%;
	margin: 2em auto;
	padding: 0 2em;
	/* align-items: center; */
	justify-content: space-between;
}

section0 duo-column .col1,
section0 duo-column .col2 {
	width: 100%;
	max-width: 800px;
}

header row,
footer row {
	max-width: 100%;
	margin: auto;
}

header container-left,
footer container-left {
	width: 30%;
}

header container-right,
footer container-right {
	width: 70%;
	display: flex;
	justify-content: flex-end;
}

/* banner-notice {
  display: flex;
  background: #fadc74;
  padding: 5em 0;
  text-align: center;
  width: 100%;
} */

banner {
	display: none;
	position: fixed;
	bottom: 0%;
	z-index: 4;
	background: #fadc74;
	padding: 0.5em 0;
	text-align: center;
	width: 100%;
}

banner row {
	position: relative;
	justify-content: space-around;
	margin: 1em auto;
}

banner a {
	text-decoration: none;
	color: #d80000;
	font-weight: 700;
	font-size: 1.2em;
	padding: 0em 1em 0em 8em;
}

banner img {
	width: 90px;
	position: absolute;
	margin: -3em -6em 0;
}

logo {
	display: flex;
	filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.7));
}

logo a {
	font-size: 34px;
	pointer-events: all;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 900;
	letter-spacing: 4px;
	color: #00a1ce;
	text-align: left;
	display: block;
	text-shadow: 0px 2px 2px #fff;
}

ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 30px;
}

nav {
	background-color: #ffffff27;
	border-radius: 1em;
	padding: 1em 1.4em;
}

nav ul {
	display: flex;
	gap: 1em;
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

nav ul li a {
	pointer-events: all;
	font-family: "Roboto", "Lucida Sans", Tahoma, Verdana, sans-serif;
	font-size: 1em;
	line-height: 2em;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
	letter-spacing: 0.02em;
	transition: 0.2 ease;
}

.active-page {
	background: linear-gradient(
		transparent calc(100% - 1px),
		#00a1ce calc(100% - 1px)
	);
	color: #00a1ce;
	/* background-color: #d80000; */
}

container-left {
	width: 47%;
	align-items: center;
}

container-right {
	width: 47%;
	align-items: center;
}

container-middle {
	width: 100%;
	align-items: center;
	/* flex-direction: column; */
	display: flex;
	margin-top: auto;
	/* height: 100vh; */
}

container-middle trio-column {
	flex-direction: row;
	display: flex;
}

trio-column .col1,
trio-column .col3 {
	width: 25%;
	text-align: center;
}
trio-column .col2 {
	width: 50%;
}

trio-column .col1 h2,
trio-column .col3 h2 {
	color: #00a1ce;
	text-transform: inherit;
	font-weight: bold;
	margin-bottom: 0.6em;
}

trio-column .col1 h3,
trio-column .col3 h3 {
	color: #766f66;
	font-weight: bold;
	text-transform: inherit;
	font-size: 1.1em;
	margin-bottom: 5px;
}

trio-column .col1 p,
trio-column .col3 p {
	font-size: 1em;
	color: #766f66;
	font-style: italic;
}

trio-column img {
	width: 100%;
}

container-middle duo-column {
	flex-direction: row;
	display: flex;
	width: 100%;
}

section12 row {
	margin: 0;
	height: 100vh;
}

section12 section-videoframe {
	height: 340px;
	width: 100%;
	display: flex;
	position: relative;
}

section12 duo-column .col1 h2 {
	color: #ffffff;
	text-shadow: none;
}

section12 duo-column .col1 p {
	color: #ffffff;
}

section12 duo-column .col1 {
	width: 40%;
	align-self: end;
	position: sticky;
	bottom: 0;
	height: 100vh;
	align-self: end;
	display: flex;
}

.social-proof {
	flex-direction: column;
	display: flex;
	padding: 9em 0;
	gap: 9em;
	align-items: center;
}

.logos-section {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logos-section img {
	max-width: 100%;
}

.quote {
	max-width: 1000px;
	text-align: center;
}

.quote p {
	font-weight: 500;
	font-style: italic;
}
.quote h2 {
	color: #f0ddaf;
	text-transform: unset;
}

section11 container-middle duo-column {
	align-items: center;
	justify-content: center;
}

.details-cta-group {
	display: flex;
	gap: 0.2rem;
	align-items: center;
}

.details-cta {
	background: #fff;
	border-radius: 0.3rem;
	width: 150px;
	box-shadow: 0 3px 10px #00000033;
	padding: 0.5rem 1rem;
	opacity: 0.8;
	transition: 0.3s ease;
	margin: 0.5rem;
}

.details-cta:hover {
	box-shadow: 0 5px 15px #00000044;
	opacity: 1;
}

.details-cta-group .details-cta {
	flex: 1;
	width: 100%;
}

.quote-cta {
	background: #4f515c;
	color: #fff;
	font-size: 0.8rem;
	line-height: 1.05rem;
	letter-spacing: 0.03rem;
	text-align: center;
	align-self: center;
	padding: 0.5rem 1.5rem;
	text-wrap: pretty;
}

.video-cta {
	background: #000000;
	align-self: center;
	padding: 0.6rem;
}

.image-cta {
	background: #000000;
	align-self: center;
	padding: 0.6rem;
}

.book-cta {
	width: 270px;
}

.book-cta img {
	width: 100px;
}

.tmi-cta {
	padding: 1.7rem 1.3rem;
}

.dual-col-cta {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
	line-height: 1.3rem;
	font-weight: 600;
	color: #000000;
}

duo-column .col1 {
	width: 100%;
	flex: 1;
	max-width: 700px;
	text-align: center;
}
duo-column .col2 {
	width: 100%;
	max-width: 700px;
	flex: 1;
	align-self: start;
}

duo-column .col1 h2,
duo-column .col2 h2 {
	color: #fff;
	letter-spacing: 0.01rem;
	font-size: 3rem;
	line-height: 3rem;
	padding: 0;
	margin: 0;
	font-weight: 700;
}

duo-column .col1 h3,
duo-column .col2 h3 {
	color: #2d2c2b;
	text-transform: inherit;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.6em;
	margin-bottom: 5px;
}

duo-column .col1 p,
duo-column .col2 p {
	padding: 0 1em;
	margin: 0 0 1rem;
	font-family: "Roboto", "Lucida Sans", Tahoma, Verdana, sans-serif;
	letter-spacing: 0.01em;
	color: #fff;
	font-size: 1rem;
	line-height: 1.6rem;
	text-wrap: pretty;
	text-align: left;
}

duo-column img {
	width: 100%;
}

duo-column .col1 img {
	width: auto;
	max-width: 700px;
}

#hero duo-column .col1 img {
	max-width: 800px;
}

#hero row {
	margin-bottom: 0;
}

.hero-text-block {
	max-width: 700px;
	padding-right: 160px;
	padding-top: 5em;
}

.hero-title {
	font-weight: 900;
	font-size: 94px;
	letter-spacing: -1px;
	line-height: 84px;
	text-align: right;
	margin: 0;
}

.sub-title {
	font-weight: 900;
	font-size: 64px;
	letter-spacing: -1px;
	line-height: 64px;
	text-align: right;
	margin: 0 0 1em;
}

duo-column .col2 .description {
	font-weight: 500;
	font-size: 23px;
	line-height: 30px;
	text-align: right;
	padding: 0;
	margin-bottom: 3em;
}

.action-bar {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 1em;
}

.action-bar span {
	color: #fff;
	font-weight: 500;
	font-size: 23px;
	line-height: 30px;
}

.video-play-button {
	position: relative;
	box-sizing: content-box;
	display: block;
	border-radius: 50%;
	width: 24px;
	height: 34px;
	padding: 18px 20px 18px 28px;
}

.video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 80px;
	height: 80px;
	background: #2764d2;
	border-radius: 50%;
	animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 70px;
	height: 70px;
	background: #2764d2;
	border-radius: 50%;
	transition: all 200ms;
}

.video-play-button:hover:after {
	background-color: #4782ee;
}

.video-play-button img {
	position: relative;
	z-index: 3;
	max-width: 100%;
	width: auto;
	height: auto;
}

.video-play-button span {
	display: block;
	position: relative;
	z-index: 3;
	width: 0;
	height: 0;
	border-left: 20px solid #fff;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
}

@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

.video-overlay {
	position: fixed;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	transition: all ease 500ms;
}

.video-overlay iframe {
	width: 95vw;
	height: 50vw;
	max-width: 1440px;
	max-height: 900px;
	border: none;
}

.video-overlay.open {
	position: fixed;
	z-index: 1000;
	opacity: 1;
}

.video-overlay-close {
	position: absolute;
	z-index: 1000;
	top: 15px;
	right: 20px;
	font-size: 36px;
	line-height: 1;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 200ms;
}

.video-overlay-close:hover {
	color: #fa183d;
}

.video-overlay iframe {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	/* width: 90%; */
	/* height: auto; */
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

ul {
	margin: 0;
}

ul li {
	padding: 0 0.5em;
	font-family: "Roboto", "Lucida Sans", Tahoma, Verdana, sans-serif;
	letter-spacing: 0.01em;
	color: #fff;
	font-size: 1rem;
	line-height: 1.8rem;
	text-wrap: balance;
}

container-trio {
	column-count: 3;
	column-gap: 50px;
}

container-trio section-title {
	column-span: all;
}

container-trio .column {
	width: 33.33%;
}

.story-flow {
	display: flex;
	flex-direction: column;
	gap: 4em;
	margin: 5em 0;
}

.flow-block h2 {
	color: #000000;
	font-weight: 800;
	font-size: 48px;
	line-height: 65px;
	letter-spacing: 0;
	text-transform: none;
}

.flow-block h4 {
	color: #000;
	font-weight: 500;
	font-size: 26px;
	line-height: 30px;
	letter-spacing: 0;
	text-transform: none;
	margin: 0;
}

.flow-block h3 {
	color: #2764d2;
	font-weight: 800;
	font-size: 48px;
	line-height: 65px;
	letter-spacing: 0;
	text-transform: none;
}

.primary {
	font-family: "Roboto", "Lucida Sans", Tahoma, Verdana, sans-serif;
	letter-spacing: 0.1em;
	display: block;
	text-decoration: none;
	padding: 20px 40px;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.3em;
	background: #00a1ce;
	border-radius: 5px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.secondary {
	display: block;
	text-decoration: none;
	padding: 20px 40px;
	font-size: 1.1em;
	line-height: 1.3em;
	background: #c6cfd4;
	border-radius: 50px;
	color: #d80000;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.tertiary {
	display: block;
	text-decoration: none;
	padding: 20px 40px;
	font-size: 1.1em;
	line-height: 1.3em;
	font-style: normal;
	font-weight: bold;
	background: #00a1ce;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.form {
	display: flex;
}

.mailing-button {
	font-family: "Tilt Warp", "Lucida Sans", Tahoma, Verdana, sans-serif;
	border-radius: 0px 5px 5px 0px;
	min-width: 150px;
	letter-spacing: 0.1em;
}

.input-button {
	font-family: "Tilt Warp", "Lucida Sans", Tahoma, Verdana, sans-serif;
	display: flex;
	flex-grow: 1;
	font-style: italic;
	padding: 20px 40px;
	font-size: 1.1em;
	line-height: 1.3em;
	font-weight: normal;
	background: #f0ece7;
	border-radius: 5px 0px 0px 5px;
	color: #000;
	text-align: left;
	text-transform: none;
	letter-spacing: 0.05em;
	margin-bottom: 25px;
	width: 100%;
}

.grow {
	transition: all 0.1s ease-in-out;
}
.grow:hover {
	transform: scale(1.05);
}

.watch-link {
	display: block;
	width: 80%;
	font-style: italic;
	font-weight: 600;
	color: #707a8f;
	letter-spacing: 0.4px;
	line-height: 30px;
}

.watch-link:hover {
	color: #f3706f;
}

::placeholder {
	color: #707a8f;
}

.email-field {
	padding: 15px 30px;
	font-size: 1.2em;
	border-radius: 50px 0 0 50px;
	font-weight: 400;
	letter-spacing: 1.5px;
	width: 100%;
	color: #000;
}

.email-button {
	border-radius: 0 50px 50px 0 !important;
	padding: 20px 30px !important;
	width: auto !important;
	letter-spacing: 2px !important;
	margin-bottom: 0px;
}

#mc_embed_signup_scroll {
	display: flex;
	width: 100%;
}

section-title {
	line-height: 1.8em;
	display: flex;
	padding: 1em 0 1em;
	justify-content: center;
}

section-categories {
	line-height: 1.2em;
	display: none;
	flex-wrap: wrap;
}

section-categories h4 {
	font-size: 0.9em;
	letter-spacing: 0.1em;
	font-weight: bold;
	color: #8e8d8b;
}

section-categories seperator-dot {
	font-size: 0.3em;
	color: #8e8d8b;
	padding: 0 10px;
}

/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/
/*****                      SECTION 0                        *****/
/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/

section0 {
	padding-top: 0em;
	background-color: #dce1e4;
	background-image: url("../images/flic-sitting-smiling-right.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	justify-content: center;
	height: auto;
}

section0 duo-column .col2 {
	padding-top: 6em;
}

section0 container-left {
	width: 60%;
}
section0 container-right {
	width: 40%;
}

/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/
/*****                      SECTION 1                         *****/
/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/

section1 {
	position: relative;
	background-color: #000000;
	background-image: url("../images/bg-lights.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	justify-content: center;
	display: flex;
}

section1 row {
	z-index: 2;
}

section1 .primary {
	margin-bottom: 0;
}

section11 h1 {
	color: #fff;
	text-align: center;
	text-shadow: 0px 2px 2px #00000042;
	letter-spacing: 0.05em;
	line-height: 0.9em;
	margin-bottom: 30px;
}

callout-header {
	background-color: #000;
}

section1 p-container {
	display: flex;
	flex-direction: column;
	background: #ffffffeb;
	color: #000;
	text-align: left;
	width: 550px;
	padding: 20px 30px 0px 30px;
	border-radius: 4px;
}

section1 container-middle {
	flex-direction: column;
}

.about-page section1 {
	background: #dce1e4;
	padding: 2em;
	background-image: none;
	height: auto;
}

.about-page section1:before {
	display: none;
}

.about-page section1 quote-wide .right-text {
	text-align: right;
}

.speaking-page section1 {
	padding-top: 0;
	background-image: url("../images/flic-crowd-non-blurred.jpg");
	height: 700px;
}

.speaking-page section1:before {
	display: none;
}

.booking-page section1:before,
.enquiry-page section1:before,
.contact-page section1:before,
.notfound-page section1:before {
	display: none;
}

.booking-page section1,
.enquiry-page section1 {
	height: auto;
	background: #e8d5c2;
}

.booking-page section1 p-container,
.enquiry-page section1 p-container {
	background: transparent;
}

.booking-page .responsive-iframe {
	width: 100%;
	height: 2200px;
}

.booking-page section1 section-title,
.enquiry-page section1 section-title {
	margin-top: 3em;
}

.contact-page section1 {
	/* background-image: url("../images/flicmanning-sitting-smile-left-look-2.jpg"); */
	height: 780px;
	flex-direction: column;
}

.contact-page section1 social-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
	width: 280px;
	margin: auto;
}

.contact-page section1 social-container a {
	display: block;
	flex-grow: 1;
	max-width: 60px;
}

.contact-page section1 section-title {
	margin-top: 0em;
}

.notfound-page section1 {
	padding-top: 0;
	height: 90vh;
	background: #000;
}

.enquiry-page .responsive-iframe {
	width: 100%;
	height: 1200px;
}

.podcast-page section1:before {
	display: none;
}

.podcast-page section1 quote-wide .right-text {
	text-align: right;
}

/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/
/*****                      SECTION 2                         *****/
/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/

section2 {
	background-color: #fff;
}

section2 section-title {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

section2 container-middle {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: initial;
	justify-content: space-between;
}

.consulting-hero-image {
	width: 100%;
}

.consulting-page section2 {
	padding-top: 3em;
}

.consulting-page section2 section-title {
	flex-direction: column;
}

.consulting-page section2 h2 {
	margin-bottom: 0;
}

.topic-block {
	width: 47%;
}

.full-width-block {
	width: 100%;
}

.full-width-block img {
	max-width: 260px;
}

.topic-block-background {
	position: relative;
	padding: 2em 2.4em 0.3em 5.6em;
	margin-bottom: 3em;
}

.about-page .topic-block-background {
	padding: 2em 2.4em 0.3em 2.4em;
}

.about-page .full-width-block .topic-block-background {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
	clip-path: polygon(1% 0, 100% 0, 96% 100%, 0 100%);
}

.topic-block h1 {
	margin: 0;
	line-height: 80px;
	color: #00a1ce;
	text-align: left;
	position: absolute;
	z-index: 1;
}

.topic-block a {
	color: #74af37;
}

.topic-block-background h2 {
	line-height: 1.3em;
	text-transform: none;
	font-size: 1.7em;
	letter-spacing: normal;
}

/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/
/*****                      SECTION 3                         *****/
/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/

section3 duo-column .col1 p,
section3 duo-column .col2 p {
	color: #000;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 2em;
}

section3 container-middle {
	max-width: 1400px;
}

section3 container-middle.flic-about {
	align-items: end;
}

section3 duo-column .col1 h2,
section3 duo-column .col2 h2 {
	text-transform: none;
	text-align: left;
	font-size: 70px;
	font-weight: 900;
	color: #2764d2;
	padding: 0 20px;
	margin: 0 0 2rem;
}

section3 duo-column .col1 h3,
section3 duo-column .col2 h3 {
	text-transform: none;
	text-align: left;
	font-size: 30px;
	line-height: 35px;
	font-weight: 900;
	color: #2764d2;
	padding: 0 20px;
	margin: 0 0 0.2em;
}

section3 duo-column .col2 {
	padding-top: 5em;
}

section3 duo-column .col2 p {
	margin: 0 0 2rem;
}

section3 container-middle duo-column {
	gap: 2em;
}

section3 container-left {
	width: 62%;
}

section3 container-right {
	width: 35%;
}

section3 duo-column .col1,
section3 duo-column .col2 {
	max-width: 450px;
	padding-bottom: 3em;
}

section3 row {
	margin-bottom: 0;
}

section3 .primary {
	margin-bottom: 0;
}

section3 img {
	width: 100%;
}

section3 h2 {
	line-height: 1.4em;
}

/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/
/*****                      SECTION 4                         *****/
/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/

section4 {
	position: relative;
	justify-content: center;
	display: flex;
}

section4 row {
	margin: 0;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

section4 container-left {
	background-color: #034b9d;
	padding: 5em;
	width: 50%;
	box-sizing: border-box;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
section4 container-right {
	box-sizing: border-box;
	padding: 3em;
	background-color: #fff;
	width: 50%;
	justify-content: center;
	flex-direction: column;
	display: flex;
}

.bg-dark-blue {
	background-color: #001a37;
}

.video-container {
	width: 100%;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fms-logo {
	padding: 0 0 2em;
}

.fms-description {
	padding: 0 0 0em;
	max-width: 500px;
}

.fms-description h2 {
	text-align: center;
	font-size: 20px;
	line-height: 120%;
	text-transform: none;
	font-weight: 400;
}

/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/
/*****                      SECTION 5                        *****/
/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/

section5 {
	position: relative;
	background-color: #000000;
	background-image: url("../images/bg-noise-tiled.webp");
	background-repeat: repeat;
	justify-content: center;
	display: flex;
}

section5 container-middle {
	flex-direction: column;
	padding: 10em 0;
}

section5 .steps {
	max-width: 1200px;
	gap: 10em;
	display: flex;
	align-items: center;
	margin-bottom: 14em;
}

section5 h2 {
	font-size: 60px;
	line-height: 65px;
	margin: 0 0 0.25em;
	text-transform: none;
	letter-spacing: -0.1px;
}

section5 .left-step h2 {
	font-size: 220px;
	line-height: 100%;
	margin: 0;
	text-transform: none;
	letter-spacing: -0.1px;
}

.step-color1 {
	color: #0df2c9;
}

.step-color2 {
	color: #0dcaf2;
}

.step-color3 {
	color: #0d79f2;
}

section5 h3 {
	font-size: 30px;
	line-height: 40px;
	text-transform: none;
	letter-spacing: -0.1px;
}

section5 h3 span {
	color: #2764d2;
}

section5 img {
	width: 100%;
}

.arrow-container {
	width: 25px;
	/* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
	animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
	cursor: pointer;
	height: 20px;
	margin: 10em 0 14em;
}

.arrow-down {
	height: 3px;
	background: #2764d2;
	transform: rotate(45deg);
	transform-origin: 0% 0%;
	border-radius: 3px;
}
.arrow-down:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 100%;
	border-radius: 3px;
	background: #2764d2;
	transform: rotate(-90deg);
	transform-origin: 0% 100%;
}

@keyframes bounce {
	50% {
		transform: translateY(-15px);
	}
}

.cta {
	text-align: center;
}

.cta-button {
	margin: 2em auto;
	background-color: #0d79f2;
	border-radius: 100px;
	padding: 0.5em 2em;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size: 26px;
	text-align: center;
	display: block;
	width: fit-content;
	transition: all 0.2s ease;
}

.cta-button:hover {
	transform: scale(1.1);
}

/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/
/*****                      SECTION 6                        *****/
/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/

section6 {
	position: relative;
	justify-content: center;
	display: flex;
}

section6 row {
	margin: 0;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.bg-yellow {
	background-color: #f8dc76;
}

section6 h1 {
	font-weight: 700;
	font-size: 70px;
	line-height: 120%;
	margin: 0 0 0.25em;
	text-transform: none;
	letter-spacing: -0.1px;
	text-align: center;
}

section6 .cta-button {
	margin-bottom: 0;
}

section6 container-left {
	background-color: #034b9d;
	padding: 5em;
	width: 50%;
	box-sizing: border-box;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
section6 container-right {
	box-sizing: border-box;
	padding: 3em;
	background-color: #000000;
	width: 50%;
	justify-content: center;
	flex-direction: column;
	display: flex;
}

.book-memoir {
	padding: 0 0 0em;
}

.book-memoir .cta-button {
	margin-bottom: 0;
}

.book-description {
	padding: 0 0 0em;
	max-width: 600px;
}

.book-description h2 {
	text-align: left;
	font-size: 18px;
	line-height: 130%;
	text-transform: none;
	font-weight: 400;
}

/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/
/*****                      SECTION 7                        *****/
/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/

section7 {
	position: relative;
	justify-content: center;
	display: flex;
}

section7 container-middle {
	flex-direction: column;
	padding: 7em 0;
}

section7 container-middle {
	flex-direction: column;
	padding: 7em 0;
}

section7 h2 {
	color: #000000;
	font-weight: 800;
	font-size: 48px;
	line-height: 65px;
	letter-spacing: 0;
	text-transform: none;
}

section7 p {
	color: #000;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 2em;
}

section7 a {
	color: #034b9d;
	font-weight: 500;
	text-decoration: none;
}

/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/
/*****                      FOOTER                       *****/
/***** ------------------------------------------------------ *****/
/***** ------------------------------------------------------ *****/

footer {
	background-color: #000;
	width: 100%;
	display: flex;
	padding: 3em 0;
	justify-content: center;
}

footer span {
	font-family: "Roboto", "Arial";
	color: #6d6d6d;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
}

copyright {
	width: 100%;
}

copyright p {
	font-size: 1em;
	margin: 0;
	padding-bottom: 1em;
	color: #666;
	text-align: center;
}

/* /////  /////////////////////////////////////////////////   ///// */
/* /////                      MOBILE                          ///// */
/* /////  /////////////////////////////////////////////////   ///// */

@media only screen and (max-width: 1000px) {
	header {
		padding: 1em;
		position: relative;
		margin-bottom: -9em;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 15px;
	}

	p {
		font-size: 20px;
		line-height: 130%;
	}

	section1 section-title h1,
	section7 section-title h1 {
		line-height: 1.1em;
	}

	section2 section-title h1,
	section3 section-title h1,
	section4 section-title h1,
	section5 section-title h1,
	section6 section-title h1,
	section10 section-title h1 {
		line-height: 1.2em;
	}

	section-categories {
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 0.7em;
		letter-spacing: normal;
		line-height: 0.6em;
	}

	nav {
		display: none;
	}

	.hero-text-block {
		padding-right: 0;
	}

	.logos-section {
		flex-direction: column;
	}

	container-left,
	container-right,
	container-trio,
	container-middle {
		width: 90% !important;
		margin: auto;
		padding: 1em 0 0;
	}

	section4 container-left,
	section4 container-right,
	section6 container-left,
	section6 container-right {
		margin: 0;
		width: 100% !important;
	}

	section5 .steps {
		gap: 4em;
		margin-bottom: 6em;
		flex-direction: column;
		width: 100%;
	}

	section5 h2 {
		font-size: 32px;
		line-height: 120%;
	}
	section5 h3 {
		font-size: 18px;
		line-height: 120%;
	}

	.arrow-container {
		margin: 5em 0 5em;
	}

	section5 .steps {
		gap: 2em;
		margin-bottom: 4em;
	}

	section4 container-left,
	section4 container-right,
	section6 container-left,
	section6 container-right {
		padding: 2em;
	}

	section6 h1 {
		font-size: 32px;
		line-height: 120%;
	}

	.book-description h2 {
		font-size: 18px;
	}

	section7 container-middle {
		padding: 2em 0;
	}

	container-middle img {
		width: 100%;
	}

	.hamburger {
		display: block;
		align-self: flex-end;
	}

	section0 duo-column .col1 {
		padding-top: 5em;
		border-bottom: 2px solid #fff;
	}

	section0 duo-column .col2 {
		padding-top: 0em;
		padding-bottom: 4em;
	}

	section0 duo-column .col2 .hero-text-block {
		padding-top: 0.5em;
	}

	.hero-title {
		font-size: 50px;
		line-height: 110%;
	}

	.sub-title {
		font-size: 40px;
		line-height: 110%;
	}

	duo-column .col2 .description {
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
	}

	.social-proof {
		padding: 1em 0;
		gap: 2em;
	}
	.quote p {
		font-size: 16px;
		line-height: 130%;
	}

	.quote h2 {
		font-size: 20px;
		line-height: 120%;
	}

	.story-flow {
		gap: 2em;
		margin: 1em 0;
	}

	.flow-block h2 {
		font-size: 34px;
		line-height: 130%;
	}
	.flow-block h4 {
		font-size: 20px;
		line-height: 130%;
	}
	.flow-block h3 {
		font-size: 34px;
		line-height: 130%;
	}
	section3 container-middle {
		margin: 0;
		width: 100% !important;
	}

	section3 container-middle.flic-about {
		flex-direction: column;
		align-items: center;
		width: 100% !important;
	}

	.flic-about img {
		width: 80%;
	}

	section3 container-left {
		margin: 0;
	}

	section3 container-right {
		margin: 0;
	}
	section3 container-middle duo-column {
		gap: 0;
	}
	section3 duo-column .col1,
	section3 duo-column .col2 {
		padding-top: 0em;
		padding-bottom: 0em;
	}

	section3 duo-column .col1 h3,
	section3 duo-column .col2 h3 {
		padding: 0;
		font-size: 24px;
		line-height: 120%;
	}

	section3 duo-column .col1 h2,
	section3 duo-column .col2 h2 {
		font-size: 50px;
		line-height: 110%;
		padding: 0;
	}

	section3 duo-column .col1 p,
	section3 duo-column .col2 p {
		padding: 0;
	}

	section5 container-middle {
		padding: 4em 0;
	}

	banner {
		position: fixed;
		bottom: 0%;
		z-index: 4;
		background: #fadc74;
		padding: 0.5em 0;
		text-align: center;
		width: 100%;
	}

	banner row {
		position: relative;
		justify-content: space-around;
		margin: 1em auto;
	}

	banner a {
		text-decoration: none;
		color: #d80000;
		font-weight: 700;
		font-size: 1em;
		padding: 0em 1em 0em 6em;
	}

	banner img {
		width: 80px;
		position: absolute;
		margin: -2.5em -5.5em 0;
	}

	row {
		flex-direction: column;
		width: 100%;
		padding: 0;
	}

	header row,
	footer row {
		padding: 0;
		width: 100%;
	}

	header container-right,
	footer container-left {
		width: 100%;
	}

	header container-left {
		width: 100%;
		display: flex;
		padding: 0;
		flex-direction: column;
	}

	header container-right {
		flex-direction: column;
		width: auto;
		padding: 0;
	}

	nav ul {
		margin: 1em 0 0;
		display: inline-block;
		flex-direction: row;
		flex-wrap: wrap;
		text-align: center;
	}

	nav ul li a {
		margin: 0 0 0.4em;
		display: block;
		font-size: 1.1em;
	}

	container-trio {
		column-count: 1;
	}

	container-left img,
	container-right img,
	container-trio img {
		width: 100%;
	}

	section1,
	section2,
	section3,
	section4,
	section5,
	section6,
	section7 {
		display: flex;
		flex-direction: column;
		height: auto;
		background-size: cover;
	}

	.details-cta-group {
		flex-wrap: wrap;
		flex-direction: column;
		gap: 1rem;
	}

	.connect-cta {
		flex-direction: row;
	}

	.details-cta {
		margin: 0;
	}

	.mobile-hero {
		display: block;
		width: auto;
		height: 400px;
		overflow: hidden;
	}

	container-middle trio-column {
		flex-direction: column;
	}
	container-middle duo-column {
		flex-direction: column-reverse;
	}

	duo-column .col1 img {
		height: auto;
		width: 80%;
	}

	trio-column .col1,
	trio-column .col2,
	trio-column .col3,
	duo-column .col1,
	duo-column .col2 {
		width: 100%;
	}

	trio-column .col1 {
		order: 2;
	}
	trio-column .col2 {
		order: 1;
	}
	trio-column .col3 {
		order: 3;
	}

	duo-column .col1 {
		order: 2;
	}
	duo-column .col2 {
		padding: 0;
		order: 1;
	}

	section2 section-title {
		margin-top: 0;
	}
	section2 .mobile-hero img {
		width: 500%;
		margin-left: -247%;
		margin-top: -19%;
	}
	section2 container-middle {
		flex-direction: column;
	}

	.topic-block {
		width: auto;
	}

	section3 row {
		flex-direction: column-reverse;
	}

	section4 section-videoframe {
		height: 200px;
		width: 100%;
		display: flex;
		position: relative;
	}

	section5 .mobile-hero img {
		width: 350%;
		margin-left: -172%;
	}

	section6 p {
		width: 100%;
	}

	section6 .email-field {
		padding: 15px 15px;
		font-size: 1em;
		width: 90%;
	}

	section6 .book-container {
		max-height: inherit;
	}

	section8 {
		background: #dce1e4;
	}

	section12 duo-column .col1 {
		width: 100%;
		position: relative;
	}

	.full-width-block img {
		margin-bottom: 1em;
	}
}
